$template_purple_color: #87005E;
$template_dark_color: #3C4157;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    overflow-x: hidden;
}
.navigation {
    z-index: 5;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s bottom;

    &__list {
        list-style-type: none;
        width: 100%;

        .list__element {
            width: 100%;
            text-align: center;

            .element__link {
                width: 100%;
                padding: 10px;
                text-transform: uppercase;
                font-weight: 300;
                letter-spacing: 4px;
                font-size: 0.9rem;
                text-decoration: none;
                color: #111;
            }
        }
        #menuDropdown {
            .second__list {
                display: none;
            }
        }
    }
    .media__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;

        .media__link {
            padding: 20px;
            text-decoration: none;
            color: #111;
            text-transform: uppercase;
            letter-spacing: 4px;
        font-size: 0.9rem;
        }
    }
}
.navigation--open {
    bottom: 0;
    transition: 0.5s bottom;
}
.header {
    width: 100%;
    min-height: 100vh;
    position: relative;

    .menu__hamburger {
        position: absolute;
        top: 20px;
        left: 50%;
        padding: 0;
        background: none;
        border: none;
        transform: translateX(-50%);
        z-index: 10;

        .hamburger__icon {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .icon__item {
                width: 30px;
                height: 3px;
                background-color: #111;
            }
            .icon__item--white {
                background-color: #fefefe;
            }
        }
        // .hamburger__icon--close {
        //     justify-content: center;
        //     .icon__item:first-of-type {
        //         transform: rotate(45deg) translateY(50%);
        //     }
        //     .icon__item:nth-of-type(2) {
        //         display: none;
        //     }
        //     .icon__item:last-of-type {
        //         transform: rotate(-45deg) translateY(-50%);
        //     }
        // }
    }

    
    .main__header {
        width: 100%;
        min-height: 100vh;
        background-image: url("../assets/img/mobile/5.1.2_calepx.jpg");
        background-position: 55%;
        background-attachment: fixed;
        background-size: cover;
        text-align: center;
        padding-top: 100px;

        .header__logo {
            img {
                width: 300px;
                margin: 0 auto;
            }
        }
    }
}
.header--about {
    width: 100%;
    min-height: 0;
    height: 70px;
    background-color: $template_dark_color;
    position: relative;
    overflow-x: hidden;

    .menu__hamburger {
        top: 50%;
        left: unset;
        right: 5%;
        transform: translateY(-50%);
    }

    .back__button {
        background-color: unset;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        border: unset;
        display: flex;
        align-items: center;
        text-decoration: none;

        .back__icon {
            width: 8px;
            height: 8px;
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            transform: rotate(-45deg);
        }
        .back__text {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.7rem;
            letter-spacing: 2px;
            color: #fefefe;
            margin-left: 8px;
        }
    }
}
.main__section {
    width: 100%;

    .section__container {
        margin: 0 auto;
        width: 90%;
        box-shadow: 1px 1px 10px #444;
        padding: 5px;
        background-color: #fff;
        transform: translateY(-100px);

        .section__header {
            height: 100px;
            padding-top: 10px;
            margin-bottom: 40px;
            text-align: center;
            text-transform: uppercase;

            h1 {
                padding-top: 10px;
                position: relative;
                font-size: 1.4rem;
                font-weight: 400;
                text-shadow: 1px 1px 5px rgba(10,10,10,0.5);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100px;
                    height: 1px;
                    padding: 0.5px;
                    transform: translateX(-50%);
                    background-color: $template_purple_color;
                }
            }
            h3 {
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
        .section__text {
            margin: 30px 30px 30px 30px;
            position: relative;
            
            &::before, &::after {
                position: absolute;
                content: '';
                width: 70px;
                height: 30px;
                padding: 1px;
            }
            &::before {
                border-top: 1px solid $template_purple_color;
                border-left: 1px solid $template_purple_color;
                top: -20px;
                left: -20px;
            }
            &::after { 
                border-bottom: 1px solid $template_purple_color;
                border-right: 1px solid $template_purple_color;
                bottom: -20px;
                right: -20px;
            }
            h5 {
                font-weight: 400;
                font-size: 0.9rem;
            }
            p {
                font-weight: 300;
                font-size: 0.9rem;
                margin: 10px 0;
            }
        }
    }
}
.portfolio__section {
    padding: 0 20px;

    .portfolio__header {
        border-left: 1px solid $template_purple_color;
        padding-left: 10px;
        margin-bottom: 50px;

        h2 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }
    .portfolio__container {
        display: flex;
        flex-direction: column;
        
        .container__item {
            z-index: 10;
            width: 250px;
            height: 150px;
            margin: 40px 0;
            background-position: center;
            background-size: cover;
            position: relative;
            box-shadow: 2px 2px 10px rgba(10,10,10,0.6);
            text-decoration: none;

            &:nth-of-type(1) {
                background-image: url('../assets/img/mobile/sesja-narzeczenska-we-wroclawiu-ostrow-tumski-katedra-chrystusa-krola5_500px.webp');
                align-self: flex-end;
                &::before {
                    z-index: 0;
                    position: absolute;
                    top: -110px;
                    left: -80px;
                    content: "1";
                    font-weight: 700;
                    font-size: 13rem;
                    opacity: 0.07;
                }
            }
            &:nth-of-type(2) {
                background-image: url('../assets/img/mobile/slub-we-wroclawiu-wyjscie-z-kosciola_500px.webp');
                &::before {
                    z-index: 0;
                    position: absolute;
                    top: -110px;
                    right: -100px;
                    content: "2";
                    font-weight: 700;
                    font-size: 13rem;
                    opacity: 0.07;
                }
            }
            &:nth-of-type(3) {
                background-image: url('../assets/img/mobile/plenernarancho500px.webp');
                align-self: flex-end;
                &::before {
                    z-index: 0;
                    position: absolute;
                    top: -80px;
                    left: -80px;
                    content: "3";
                    font-weight: 700;
                    font-size: 13rem;
                    opacity: 0.07;
                }
            }

            .item__container {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background-image: linear-gradient(to bottom, rgba(10,10,10,0) 50%, rgba(10,10,10,1));
                padding: 10px;

                h3 {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 300;
                    text-transform: capitalize;
                }
            }
        }
    }
}
.describe__section {
    margin: 40px 20px 0 20px;
    padding-top: 10px;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100px;
        height: 1px;
        padding: 0.5px;
        transform: translateX(-50%);
        background-color: $template_purple_color;
    }
    .describe__item {
        margin: 30px 0;

        h3 {
            font-size: 1.1rem;
            font-weight: 400;
            padding-left: 10px;
            border-left: 1px solid $template_purple_color;
            margin-bottom: 20px;
        }
        p {
            font-weight: 300;
            font-size: 0.8rem;
        }
    }
}
.footer {
    margin-top: 60px;
    width: 100%;
    padding: 20px;
    background-color: $template_dark_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fefefe;
    font-size: 0.8rem;
    h3,h5 {
        font-weight: 300;
    }
}

//////////////////////////////// ABOUT //////////////////////////////
.site__header {
    text-align: center;
    
    .header__text {
        font-size: 1rem;
        padding: 50px 10px;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 1px 1px 5px #888;
    }
    .header__description {
        font-weight: 300;
        padding: 0 10px;
        font-size: 0.9rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -25px;
            left: 50%;
            width: 100px;
            height: 1px;
            padding: 0.5px;
            transform: translateX(-50%);
            background-color: $template_purple_color;
        }
    }
}
.container {
    padding: 25px 15px;
    
    &--dark {
        background-color: $template_dark_color;
        padding: 25px 15px;
    }
}
.about__container {
    position: relative;
    margin-top: 40px;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 30px;

    .about__photo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 5px #888;
    }
    .about__text {
        font-size: 0.9rem;
        color: #fefefe;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .about__button {
        background-color: unset;
        border: unset;
        color: #fefefe;
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
        text-decoration: none;

        .icon__down {
            width: 9px;
            height: 9px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-45deg);
        }
        h5 {
            font-weight: 400;
            font-size: 0.7rem;
            margin: 0 10px;
        }
    }
}
.opinion__container {

    h2 {
        font-size: 1.2rem;
        letter-spacing: 2px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .opinions__slider {
        min-height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-top: 1px dashed #888;
        border-bottom: 1px dashed #888;
        width: 100%;
        height: auto;
        position: relative;

        .opinion__text {
            font-size: 0.8rem;
            text-align: center;
            margin: 15px 30px;
        }
        .opinion__author {
            text-align: center;
            font-size: 0.9rem;
            margin-bottom: 15px;
        }
        .circles__box {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            
            .circle__item {
                width: 8px;
                height: 8px;
                padding: 1px;
                border: 1px solid #888;
                border-radius: 50%;
                margin: 0 5px;

                &--fill {
                    background-color: #888;
                }
            }
        }
        .slider__button {
            position: absolute;
            background-color: unset;
            border: unset;
            top: 50%;
            width: 20px;
            height: 30px;
            font-weight: 700;
            transform: translateY(-50%);

            &--forward {
                right: 0;
            }
        }
    }
}
.text__container {
    padding: 40px 15px;
    .text__item {
        text-align: center;
        color: #efefef;
        font-size: 0.8rem;
        margin: 10px 0;
        position: relative;

        &:nth-of-type(1)::before, &:last-of-type::before {
            content: '';
            position: absolute;
            width: 150px;
            height: 1px;
            background-color: #ddd;
            left: 50%;
            transform: translateX(-50%);
        }
        &:nth-of-type(1)::before {
            top: -10px;
        }
        &:last-of-type::before {
            bottom: -10px;
        }

        ul {
            list-style-type: none;
        }
        .text__link {
            color: #ccccff;
            text-transform: uppercase;
        }
    }
}
//////////////////////offer/////////////////////
.offer__container {

    .offer__item {
        width: 100%;
        background-color: #fefefe;
        display: flex;
        margin: 50px 0;
        justify-content: flex-start;
        position: relative;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 70% auto;
        padding-top: 140px;

        // &::before {
        //     position: absolute;
        //     content: '';
        //     background-image: url('/assets/img/mobile/plenernarancho500px.webp');
        //     width: 200px;
        //     padding: 0;
        //     height: 120px;
        //     background-size: cover;
        //     top: -20px;
        //     left: 0px;
        //     z-index: 1;
        // }

        .item__description {
            width: 80%;
            background-color: #fefefe;
            padding: 15px;
            box-shadow: 0 0 10px rgb(66, 65, 65);
            z-index: 5;

            .item__header {
                font-size: 1.2rem;
                text-transform: uppercase;
                padding-bottom: 15px;
            }
            p{
                font-size: 1rem;
            }
            ul {
                padding-left: 10px;
                li {
                    list-style: "-";
                    padding-left: 5px;
                    font-size: 0.9rem;
                }
            }
            .item__price {
                font-size: 1.2rem;
                text-transform: uppercase;
                padding-top: 15px;
            }
        }
    }
    .offer__item--right {
        justify-content: flex-end;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 70% auto;
        padding-bottom: 140px;
        padding-top: 0;
    }
}