@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  overflow-x: hidden;
}

.navigation {
  z-index: 1000;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s bottom;
  transition: 0.5s bottom;
}

.navigation__list {
  list-style-type: none;
  width: 100%;
}

.navigation__list .list__element {
  width: 100%;
  text-align: center;
}

.navigation__list .list__element .element__link {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #111;
}

.navigation__list #menuDropdown .second__list {
  display: none;
}

.navigation .media__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.navigation .media__container .media__link {
  padding: 20px;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9rem;
}

.navigation--open {
  bottom: 0;
  -webkit-transition: 0.5s bottom;
  transition: 0.5s bottom;
}

.header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header .menu__hamburger {
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 0;
  background: none;
  border: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1001;
}

.header .menu__hamburger .hamburger__icon {
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__hamburger .hamburger__icon .icon__item {
  width: 30px;
  height: 3px;
  background-color: #111;
}

.header .menu__hamburger .hamburger__icon .icon__item--white {
  background-color: #fefefe;
}

.header .main__header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/img/mobile/5.1.2_calepx.jpg");
  background-position: 55%;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
}

.header .main__header .header__logo img {
  width: 300px;
  margin: 0 auto;
}

.header--about {
  width: 100%;
  min-height: 0;
  height: 70px;
  background-color: #3C4157;
  position: relative;
  overflow-x: hidden;
}

.header--about .menu__hamburger {
  top: 50%;
  left: unset;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header--about .back__button {
  background-color: unset;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header--about .back__button .back__icon {
  width: 8px;
  height: 8px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header--about .back__button .back__text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7rem;
  letter-spacing: 2px;
  color: #fefefe;
  margin-left: 8px;
}

.main__section {
  width: 100%;
}

.main__section .section__container {
  margin: 0 auto;
  width: 90%;
  -webkit-box-shadow: 1px 1px 10px #444;
          box-shadow: 1px 1px 10px #444;
  padding: 5px;
  background-color: #fff;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.main__section .section__container .section__header {
  height: 100px;
  padding-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.main__section .section__container .section__header h1 {
  padding-top: 10px;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.5);
}

.main__section .section__container .section__header h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 1px;
  padding: 0.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #87005E;
}

.main__section .section__container .section__header h3 {
  font-size: 0.8rem;
  font-weight: 300;
}

.main__section .section__container .section__text {
  margin: 30px 30px 30px 30px;
  position: relative;
}

.main__section .section__container .section__text::before, .main__section .section__container .section__text::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 30px;
  padding: 1px;
}

.main__section .section__container .section__text::before {
  border-top: 1px solid #87005E;
  border-left: 1px solid #87005E;
  top: -20px;
  left: -20px;
}

.main__section .section__container .section__text::after {
  border-bottom: 1px solid #87005E;
  border-right: 1px solid #87005E;
  bottom: -20px;
  right: -20px;
}

.main__section .section__container .section__text h5 {
  font-weight: 400;
  font-size: 0.9rem;
}

.main__section .section__container .section__text p {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 10px 0;
}

.portfolio__section {
  padding: 0 20px;
}

.portfolio__section .portfolio__header {
  border-left: 1px solid #87005E;
  padding-left: 10px;
  margin-bottom: 50px;
}

.portfolio__section .portfolio__header h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
}

.portfolio__section .portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__section .portfolio__container .container__item {
  z-index: 10;
  width: 250px;
  height: 150px;
  margin: 40px 0;
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.6);
          box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.6);
  text-decoration: none;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(1) {
  background-image: url("../assets/img/mobile/sesja-narzeczenska-we-wroclawiu-ostrow-tumski-katedra-chrystusa-krola5_500px.webp");
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(1)::before {
  z-index: 0;
  position: absolute;
  top: -110px;
  left: -80px;
  content: "1";
  font-weight: 700;
  font-size: 13rem;
  opacity: 0.07;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(2) {
  background-image: url("../assets/img/mobile/slub-we-wroclawiu-wyjscie-z-kosciola_500px.webp");
}

.portfolio__section .portfolio__container .container__item:nth-of-type(2)::before {
  z-index: 0;
  position: absolute;
  top: -110px;
  right: -100px;
  content: "2";
  font-weight: 700;
  font-size: 13rem;
  opacity: 0.07;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(3) {
  background-image: url("../assets/img/mobile/plenernarancho500px.webp");
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(3)::before {
  z-index: 0;
  position: absolute;
  top: -80px;
  left: -80px;
  content: "3";
  font-weight: 700;
  font-size: 13rem;
  opacity: 0.07;
}

.portfolio__section .portfolio__container .container__item .item__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(10, 10, 10, 0)), to(#0a0a0a));
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 50%, #0a0a0a);
  padding: 10px;
}

.portfolio__section .portfolio__container .container__item .item__container h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.describe__section {
  margin: 40px 20px 0 20px;
  padding-top: 10px;
  position: relative;
}

.describe__section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 1px;
  padding: 0.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #87005E;
}

.describe__section .describe__item {
  margin: 30px 0;
}

.describe__section .describe__item h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 10px;
  border-left: 1px solid #87005E;
  margin-bottom: 20px;
}

.describe__section .describe__item p {
  font-weight: 300;
  font-size: 0.8rem;
}

.footer {
  margin-top: 60px;
  width: 100%;
  padding: 20px;
  background-color: #3C4157;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fefefe;
  font-size: 0.8rem;
}

.footer h3, .footer h5 {
  font-weight: 300;
}

.site__header {
  text-align: center;
}

.site__header .header__text {
  font-size: 1rem;
  padding: 50px 10px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #888;
}

.site__header .header__description {
  font-weight: 300;
  padding: 0 10px;
  font-size: 0.9rem;
  position: relative;
}

.site__header .header__description::before {
  content: '';
  position: absolute;
  top: -25px;
  left: 50%;
  width: 100px;
  height: 1px;
  padding: 0.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #87005E;
}

.container {
  padding: 25px 15px;
}

.container--dark {
  background-color: #3C4157;
  padding: 25px 15px;
}

.about__container {
  position: relative;
  margin-top: 40px;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 30px;
}

.about__container .about__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 5px #888;
          box-shadow: 1px 1px 5px #888;
}

.about__container .about__text {
  font-size: 0.9rem;
  color: #fefefe;
  font-weight: 300;
  margin-bottom: 15px;
}

.about__container .about__button {
  background-color: unset;
  border: unset;
  color: #fefefe;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 5px;
  text-decoration: none;
}

.about__container .about__button .icon__down {
  width: 9px;
  height: 9px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about__container .about__button h5 {
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0 10px;
}

.opinion__container h2 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.opinion__container .opinions__slider {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px dashed #888;
  border-bottom: 1px dashed #888;
  width: 100%;
  height: auto;
  position: relative;
}

.opinion__container .opinions__slider .opinion__text {
  font-size: 0.8rem;
  text-align: center;
  margin: 15px 30px;
}

.opinion__container .opinions__slider .opinion__author {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.opinion__container .opinions__slider .circles__box {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opinion__container .opinions__slider .circles__box .circle__item {
  width: 8px;
  height: 8px;
  padding: 1px;
  border: 1px solid #888;
  border-radius: 50%;
  margin: 0 5px;
}

.opinion__container .opinions__slider .circles__box .circle__item--fill {
  background-color: #888;
}

.opinion__container .opinions__slider .slider__button {
  position: absolute;
  background-color: unset;
  border: unset;
  top: 50%;
  width: 20px;
  height: 30px;
  font-weight: 700;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.opinion__container .opinions__slider .slider__button--forward {
  right: 0;
}

.text__container {
  padding: 40px 15px;
}

.text__container .text__item {
  text-align: center;
  color: #efefef;
  font-size: 0.8rem;
  margin: 10px 0;
  position: relative;
}

.text__container .text__item:nth-of-type(1)::before, .text__container .text__item:last-of-type::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: #ddd;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.text__container .text__item:nth-of-type(1)::before {
  top: -10px;
}

.text__container .text__item:last-of-type::before {
  bottom: -10px;
}

.text__container .text__item ul {
  list-style-type: none;
}

.text__container .text__item .text__link {
  color: #ccccff;
  text-transform: uppercase;
}

.offer__container .offer__item {
  width: 100%;
  background-color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 70% auto;
  padding-top: 140px;
}

.offer__container .offer__item .item__description {
  width: 80%;
  background-color: #fefefe;
  padding: 15px;
  -webkit-box-shadow: 0 0 10px #424141;
          box-shadow: 0 0 10px #424141;
  z-index: 5;
}

.offer__container .offer__item .item__description .item__header {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.offer__container .offer__item .item__description p {
  font-size: 1rem;
}

.offer__container .offer__item .item__description ul {
  padding-left: 10px;
}

.offer__container .offer__item .item__description ul li {
  list-style: "-";
  padding-left: 5px;
  font-size: 0.9rem;
}

.offer__container .offer__item .item__description .item__price {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 15px;
}

.offer__container .offer__item--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 70% auto;
  padding-bottom: 140px;
  padding-top: 0;
}

.offer__container h5 {
  font-weight: 400;
  font-size: 1.2rem;
}

.offer__container ul {
  list-style: "- ";
  padding-left: 15px;
  margin-bottom: 30px;
}

.offer__container ul li {
  font-weight: 300;
  font-size: 1rem;
}

.offer__container .offer__text {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.offer__container .offer__button {
  border: 2px solid #87005E;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 15px;
  color: #444;
  margin: 0 auto;
  -webkit-transition: 0.3s background-color, 0.3s color;
  transition: 0.3s background-color, 0.3s color;
}

.offer__container .offer__button--small {
  font-size: 0.9rem;
  padding: 10px;
  margin-top: 20px;
}

.offer__container .offer__button:hover {
  -webkit-transition: 0.3s background-color, 0.3s color;
  transition: 0.3s background-color, 0.3s color;
  color: #eee;
  background-color: #87005E;
}

.gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

.gallery .gallery__button {
  position: fixed;
  top: 2%;
  right: 2%;
  padding: 15px;
  z-index: 10000;
  display: none;
  color: #fff;
  font-weight: 700;
  background-color: #444;
  border: unset;
}

.gallery .gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

.gallery .gallery__item .item__photo--square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

.gallery .gallery__item .photo__box {
  display: none;
}

.gallery .gallery__item .photo__box .item__photo--full {
  max-width: 95%;
  max-height: 95%;
}

.gallery .gallery__item .photo__box--open {
  z-index: 5000;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.facebook__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook__container .facebook__button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 1px solid #87005E;
  border-right: 1px solid #87005E;
  padding: 10px;
}

.facebook__container .facebook__button .facebook__icon {
  width: 50px;
}

.facebook__container .facebook__button h6 {
  font-size: 0.9rem;
  color: #444;
  font-weight: 400;
}

.site__desc p {
  font-size: 0.9rem;
  margin: 10px 0;
}

.site__desc ul {
  margin-left: 20px;
}

.site__desc ul li {
  font-size: 0.9rem;
}
/*# sourceMappingURL=style.css.map */