@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header .menu__hamburger {
  position: absolute;
  top: 20px;
  left: 50%;
  padding: 0;
  background: none;
  border: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.header .menu__hamburger .hamburger__icon {
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__hamburger .hamburger__icon .icon__item {
  width: 30px;
  height: 4px;
  background-color: #111;
}

.header .navigation {
  z-index: 5;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s top;
  transition: 0.5s top;
}

.header .navigation__list {
  list-style-type: none;
  width: 100%;
}

.header .navigation__list .list__element {
  width: 100%;
  text-align: center;
}

.header .navigation__list .list__element .element__link {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 0.9rem;
  text-decoration: none;
  color: #111;
}

.header .navigation__list #menuDropdown .second__list {
  display: none;
}

.header .navigation .media__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.header .navigation .media__container .media__link {
  padding: 20px;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9rem;
}

.header .navigation--open {
  top: 0;
  -webkit-transition: 0.5s top;
  transition: 0.5s top;
}

.header .main__header {
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/img/mobile/7_1000px.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 30%;
}

.header .main__header .header__logo img {
  width: 100%;
}

.main__section {
  width: 100%;
}

.main__section .section__container {
  margin: 0 auto;
  width: 90%;
  -webkit-box-shadow: 1px 1px 10px #444;
          box-shadow: 1px 1px 10px #444;
  padding: 5px;
  background-color: #fff;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.main__section .section__container .section__header {
  height: 100px;
  padding-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.main__section .section__container .section__header h1 {
  padding-top: 10px;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  text-shadow: 1px 1px 5px rgba(10, 10, 10, 0.5);
}

.main__section .section__container .section__header h1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 1px;
  padding: 0.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #87005E;
}

.main__section .section__container .section__header h3 {
  font-size: 0.8rem;
  font-weight: 300;
}

.main__section .section__container .section__text {
  margin: 30px 30px 30px 30px;
  position: relative;
}

.main__section .section__container .section__text::before, .main__section .section__container .section__text::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 30px;
  padding: 1px;
}

.main__section .section__container .section__text::before {
  border-top: 1px solid #87005E;
  border-left: 1px solid #87005E;
  top: -20px;
  left: -20px;
}

.main__section .section__container .section__text::after {
  border-bottom: 1px solid #87005E;
  border-right: 1px solid #87005E;
  bottom: -20px;
  right: -20px;
}

.main__section .section__container .section__text h5 {
  font-weight: 400;
  font-size: 0.9rem;
}

.main__section .section__container .section__text p {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 10px 0;
}

.portfolio__section {
  padding: 0 20px;
}

.portfolio__section .portfolio__header {
  border-left: 1px solid #87005E;
  padding-left: 10px;
  margin-bottom: 50px;
}

.portfolio__section .portfolio__header h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
}

.portfolio__section .portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__section .portfolio__container .container__item {
  z-index: 10;
  width: 250px;
  height: 150px;
  margin: 40px 0;
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.6);
          box-shadow: 2px 2px 10px rgba(10, 10, 10, 0.6);
  text-decoration: none;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(1) {
  background-image: url("../assets/img/mobile/sesja-narzeczenska-we-wroclawiu-ostrow-tumski-katedra-chrystusa-krola5_500px.webp");
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(1)::before {
  z-index: 0;
  position: absolute;
  top: -110px;
  left: -80px;
  content: "1";
  font-weight: 700;
  font-size: 13rem;
  opacity: 0.07;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(2) {
  background-image: url("../assets/img/mobile/slub-we-wroclawiu-wyjscie-z-kosciola_500px.webp");
}

.portfolio__section .portfolio__container .container__item:nth-of-type(2)::before {
  z-index: 0;
  position: absolute;
  top: -110px;
  right: -100px;
  content: "2";
  font-weight: 700;
  font-size: 13rem;
  opacity: 0.07;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(3) {
  background-image: url("../assets/img/mobile/plenerslubny_dworzecpkpwroclaaw_500px.webp");
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.portfolio__section .portfolio__container .container__item:nth-of-type(3)::before {
  z-index: 0;
  position: absolute;
  top: -80px;
  left: -80px;
  content: "3";
  font-weight: 700;
  font-size: 13rem;
  opacity: 0.07;
}

.portfolio__section .portfolio__container .container__item .item__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(10, 10, 10, 0)), to(#0a0a0a));
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0) 50%, #0a0a0a);
  padding: 10px;
}

.portfolio__section .portfolio__container .container__item .item__container h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.describe__section {
  margin: 40px 20px 0 20px;
  padding-top: 10px;
  position: relative;
}

.describe__section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 1px;
  padding: 0.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #87005E;
}

.describe__section .describe__item {
  margin: 30px 0;
}

.describe__section .describe__item h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 10px;
  border-left: 1px solid #87005E;
  margin-bottom: 20px;
}

.describe__section .describe__item p {
  font-weight: 300;
  font-size: 0.8rem;
}

.footer {
  margin-top: 60px;
  width: 100%;
  padding: 20px;
  background-color: #3C4157;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fefefe;
  font-size: 0.8rem;
}

.footer h3, .footer h5 {
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */